users.json
*.pyc
*.csv
.idea
.idea/*
.idea/workspace.xml
.virtualenvironment
.virtualenvironment/
.virtualenvironment/*
.venv
.venv/
.venv/*
.virtualenvironments
.virtualenvironments/
.virtualenvironments/*
.env
.env/
.env/*
__pycache__
__pycache__/
__pycache__*
.vscode
.vscode/
.vscode/*
*.log
ProtectedPath/*